<div class="dashboard-page">

    <div class="top-section">

        <h2>
            Welcome Back,
            {{candidateName}}
        </h2>

        <p>
            Track your applications and assessments
        </p>

    </div>

    <!-- STATS -->
    <div class="stats-grid">

        <div class="stat-card">
            <h3>Applied Jobs</h3>
            <p>4</p>
        </div>

        <div class="stat-card">
            <h3>Assessments</h3>
            <p>2</p>
        </div>

        <div class="stat-card">
            <h3>Interviews</h3>
            <p>1</p>
        </div>

        <div class="stat-card">
            <h3>Profile Score</h3>
            <p>70%</p>
        </div>

    </div>

    <!-- RECENT ACTIVITY -->
    <div class="dashboard-card">

        <h3>
            Recent Activity
        </h3>

        <ul>

            <li>
                Applied for Java Developer Role
            </li>

            <li>
                Assessment scheduled tomorrow
            </li>

            <li>
                Resume updated
            </li>

        </ul>

    </div>

</div>